<div class="grid-locked">
  <p class="label" id="contact-label">contact</p>
  <h4>
  Feel free to reach out and drop me a line!
  </h4>
  <br />
  <table>
    <tr>
      <td class="text-left contact-info">
        <h4>
          Email: me@stephenprosser.com<br />
          Phone: 386.451.3480<br />
          Twitter: @sprosser86
        </h4>
      </td>
      <td>
        <a href="/" class="trex pull-right"></a>
      </td>
    </tr>
  </table>
</div>
