<%= render 'layouts/header' %>
<section class="portfolio">
  <%= render 'portfolio' %>
</section>
<section class="about-me">
  <%= render 'about_me' %>
</section>
<section class="contact">
  <%= render 'contact' %>
</section>

