<header class="global-header" style="position: fixed; top: 0px;">
  <div class="pull-left">
    <a href="/" class="name"></a>
  </div>
  <p class="pull-right">
    <a href="/" id="portfolio">Portfolio</a>
    <a href="/" id="aboutme">About Me</a>
    <a href="/" id="contact">Contact</a>
  </p>
  <div class="third center block-center">
  </div>
</header>
